.dropdown {
  margin: 0 auto;
  z-index: 10000;
  width: 300px;
  position: relative;
}
.dropdown,
.dropdown * {
  z-index: 10;
}
.dropdown .dropdown_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border: none;
  border-radius:7px;
  color: #777;
  font-weight: 500;
  box-shadow: 0px 0px 5px #ccc
}
.dropdown_content {
  z-index: 99;
  position: absolute;
  padding-left: 1rem;
  width: 20rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
  background-color: #fcfcfc;
  border-radius: 10px;
}
.dropdown_content .item {
  padding: 10px;
  cursor: pointer;
}
.dropdown_content .item:hover {
  background: #fcfcfc;
}

.button {
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0 auto;
}
