.header {
  box-shadow: 0px 0px 7px #ccc;
background-color: #f9fcff;
background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
.headerActive {
  box-shadow: 0px 0px 7px #ccc;
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
.nav-item {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #00adb5;
  transition: width 0.3s;
}

.nav-item:hover::after {
  width: 100%;
  transition: width 0.3s;
}
