.header{
    box-shadow: 0px 0px 7px #ccc;
    background:none;
}

.nav-item {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #00adb5;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 100%;
    transition: width .3s;
}
