.App {
    font-family: "Montserrat", sans-serif;
  }
  
  .page {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
  }
  .fade-appear,
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  .fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear 250ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
  .tweetcard{
    transition: box-shadow 0.3s ease-in;
  }
  .tweetcard:hover{
    box-shadow: 0px 0px 7px #ccc;
  }